body{
    font-family: Arial, Helvetica, sans-serif;

}
.navbar{
   width: 100%;
   background-color: #555;
   overflow: auto;

}
.navbar a{
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
}
.navbar a:hover{
    background-color: aqua;
}
.active{
    background-color: aqua;

}
.responsive{
    display: none;
}
i{
    padding: 0 5px;
}

@media (max-width:600px){
    .responsive{
        display: block;
        float: right;
        padding: 12px;
    }
    
      a{
        display: none;
      }

    
}
.introduccion{
    text-align: center;
    margin: 0 15%;
}