body{
    background-color: blue;
}

.cajita{
    margin: 0 25px;
    border: 2px solid black;
    width: 25px;
    height: 25px;
    position: relative;
    
}
@keyframes ejemplos{
    from{
        left:0;
        background-color: black;

    }
    to{
        left: 250px;
        background-color: yellow;

    }
}
.linear{
    animation: ejemplos 2s linear infinite alternate;
}
.ease{
    animation: ejemplos 2s ease infinite alternate;
}
.ease-in{
    animation: ejemplos 2s ease-in infinite alternate;
}
.ease-out{
    animation: ejemplos 2s ease-out infinite alternate;
}
.ease-in-out{
    animation: ejemplos 2s ease-in-out infinite alternate;
}